@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	    height: 100%;
}

body{
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
    flex-direction: column;
    /*overflow: hidden;*/

    color: ghostwhite;
    background: #202020;
}

::-webkit-scrollbar {
  background: #202020;
}

::-webkit-scrollbar-thumb {
	background: #2f3129;
   	border: 1px solid #268de4;
}

#particles {
  /*background: lightblue;*/
  height: 100%;
  width: 100%;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}



#translate{
	height: 100%;
	    /*z-index: -1;*/
		margin: 0 7%;
     box-sizing: border-box;
		 display: flex;
		 flex-direction: row;
}

#translate>*{
		width: 50%;
		padding: 1%;
    /*white-space: pre-wrap;*/
}


#before,
#after{

		height:100%;
}

#before:before{
	content: "HTML5";
	font-weight: bold;
	font-size: 1.2em;
}

#after:before{
	content: "HTML6.io";
	font-weight: bold;
	font-size: 1.2em;
}



.code-title{
	font-weight: bold;
	font-size: 105%;
	position: relative;
	padding-left: 54px;
}
.code-icon{
	position: absolute;
	top:0;
	left: 0;
	z-index: 99;
	width: 48px;
	height: 48px;
}



#email-signup{
	margin: 0 auto;
	width: 175px;
}
