

.alert-position {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: visible;
}
.alert-success,.alert-failure,.alert-warning,.alert-info {
  padding: 15px;
  margin-bottom: 6px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 200px;
  z-index: 1000;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-failure {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-close {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
}
.alert-close:hover {
  color: black;
}
